.card-project {
  width: 330px;
  box-shadow: 0px 5px 13px -1px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 5px 13px -1px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 5px 13px -1px rgba(0, 0, 0, 0.66);

  .btn-container-buy {
    justify-content: flex-end;
    margin-top: -65px;

    .btn-buy {
      padding: 0;
      border-radius: 50%;
      box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.6);
      width: 54px;
      height: 54px;
      color: #2dbe60;
      display: flex;
      align-items: center;
      justify-content: center;

      .f-buy {
        font-size: 14px;
        color: #fff;
        font-weight: 500;
      }
    }
  }

  .card-code {
    font-size: 11px;
    color: #2dbe60;
    font-weight: 400;
  }

  .card-title {
    font-size: 14px;
    color: #5e798d;
    font-weight: 700;
  }

  .chip-text {
    font-size: 12px;
    color: #2dbe60;
  }

  .card-price {
    font-size: 14px;
    color: #2dbe60;
    font-weight: 700;
    margin-top: 17px;
  }

  .card-text-detail {
    font-size: 12px;
    color: #9e9e9e;
    margin: 10px 0;
  }

  .card-text-detail-2 {
    font-size: 14px;
    color: #5e798d;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  height: 560px;
}
