.card-body {
    border-radius: 12px !important;
    background-image: linear-gradient(#fff,#d8ffeb);
    height: 290px !important;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%);
}

.card-border {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
}
